{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="title">
       Meet the team!
    </div>
    <div class="team-container">
        <div class="team-bubble shadow p-3 mb-5">
            <h1 style="text-align: center">This is HY.com</h1>
            <div class="team-box">
                <div style="text-align: center;">
                    <img src="static\Images\AlexPhilway.png" alt="Alex Philippe Waysand">
                    <b><p>Alexandre Philippe Waysand</p></b>
                    <p>Responsible for the backend of HY</p>
                </div>
                <div style="text-align: center;">
                    <img src="static\Images\TediMalchev.jpg" alt="Tedi Malchev" style="margin-left: 15vw; margin-right: 15vw">
                    <b><p>Teodor Malchev</p></b>
                    <p>Development and implementation of matching algorithm</p>
                </div>
                <div style="text-align: center;">
                    <img src="static\Images\MatteoCagliero.jpg" alt="Matteo Cagliero">
                    <b><p>Matteo Cagliero</p></b>
                    <p>Responsible for the frontend design of HY</p>
                </div>
            </div>
        </div>

        <br><h3>Who doesn't love a good fun fact?</h3></br>

        <div class="text-bubble shadow p-3 mb-5">
            <p>
                <b>Alex:</b>
                Alexandre (Alex) Phillipe Waysand is 18 years old and a first-year student from Paris, France, currently living in Weld Hall. He is undecided about his concentration, but is planning to do Computer Science. A fun fact about Alex is that he raced with sharks in French Polynesia!
            </p>
            <p>
                <b>Tedi:</b>
                Teodor (Tedi) Malchev is 19 years old and a first-year student from Sofia, Bulgaria, currently living in Hurlbut Hall. He will concentrate in Computer Science and Linguistics. A fun fact about Tedi is that he used to breakdance for 8 years!
            </p>
            <p>
                <b>Matteo:</b>
                Matteo Cagliero is 19 years old and a first-year student from Milan, Italy, currently living in Pennypacker Hall. He will concentrate in Computer Science. A fun fact about Matteo is that he almost beat Charles Leclerc in go-karting!
            </p>
        </div>
        
    </div>
    
{% endblock %}